<tr id = "row_new">
  <td>
  </td>
  <td>
    <%= form_for Task.new, remote: true, :html => { :class => 'form-horizontal' } do |f| %> 
      <%= f.hidden_field(:date_from_params, :value => params[:on] )%>
      <%= f.text_field :name, :id => 'New_task_input', :class => 'texty', :style => "width:70%;" %>
      <div class="moar">    
        <%= f.text_area :notes, :class => 'texty', :rows => "5", :style => "width:70%" %>
      </div>
      <%= button_tag( :class => "btn-ossim-green") do %>
        <i class="icon-ok-circle icon-white icon-3x"></i>
      <% end %>
      <%= button_tag( :class => "btn-ossim-red", :id => "new_cancel_btn", :type => "button") do %>
        <i class="icon-remove-circle icon-white icon-3x"></i>
      <% end %>
      <%= button_tag( :class => "btn-moar", :id => 'btn-moar', :type => "button") do %>
        <i id="btn-moar-icon" class="icon-double-angle-down icon-3x"></i>
      <% end %> 
      <div id="time_will_be"> 
      <% @bits_of_date = controller.set_task_time(params[:on]) %>
      </div>
    <% end %> 
  </td>
  <td>
  </td>
  <td>
  </td>
  <td>
  </td>
</tr>
<script>
  $(function() {
    $("#New_task_input").on('change', function(e){
      var anystring = $("#New_task_input").val() 
      var datefromview = "<%= params[:on]%>"
      $.get("/timex?anystring="+ anystring + "&datefromview=" + datefromview);
    })
  });
</script>
