<tr id = "row_<%= task.id %>" class="<%= @class_status %>" > 
  <td width="20">
    <div id="complete_icon_<%= task.id %>">
    <% if task.completed %>
      <%= render 'set_uncomplete', :task => task, :size => "icon-3x" %>
    <% else %> 
      <%= render 'set_complete', :task => task, :size => "icon-3x" %>
    <% end %> 
    </div"            
  </td>
  <td data-toggle="collapse" data-target="#demo<%= task.id %>">
    <h3><%= task.name %> </h3>
  </td>
  <td> 
  </td>
  <td>
    <%= link_to t('.edit', :default => ''),
      edit_task_path(task), :class => "icon-pencil icon-3x" %>
  </td>
  <td>
    <%= link_to "", 
      task, 
      method: :delete, 
      data: {confirm: "Sure?"}, 
      :class => "icon-trash icon-3x",
      remote: true %>
  </td>
</tr>
<tr id = row_more_<%= task.id %>
<td class="more"></td>
 <td colspan="5" class="more">
   <div id="demo<%= task.id %>" class="collapse">
     <table>
       <%= task.task_start.to_s(:short) if task.task_start %>
       <%= time_ago_in_words(task.task_start) + " ago" if task.task_start%>
       </p>
       <%= task.notes %>
     </table>
   </div>
 </td>
</td>
</tr>
