<%- model_class = Task -%>
<%= form_for Task.new, remote: true, :html => { :class => 'form-horizontal' } do |f| %>  
  <%= f.text_field :name, :class => 'text_field' %>
  <%= f.submit nil, :class => 'btn btn-primary' %>
<% end %>  
<div class="page-header">
  <%  if params[:on].present? 
        @day_to_view = params[:on].to_date 
  else
    @day_to_view = Date.today
  end
%>
<h1><%= link_to "&larr;".html_safe, tasks_path(:on => @day_to_view - 1.day) %>
<%=t '.title', :default => @day_to_view.strftime("%a %d %b") %>
<%= link_to "&rarr;".html_safe, tasks_path(:on => @day_to_view + 1.day) %></h1>
</div>
  <table class="table table-hover table-striped table-condensed" >
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
    </tr>
  </thead>
  <tbody id="tasksTable" >
    <% @all_tasks.each do |task| %>
      <% if task.completed? %>
        <% @class_status="success complete" %>
      <% elsif task.task_start < Date.today  %>
        <% @class_status="error" %>
      <% elsif %>
        <% @class_status="" %>
      <% end %>
      <% @task_instance = task %>
      <%= render partial: "task", :locals => { :task => task } %>
    <% end %>
  </tbody>
</table>

<% content_for :sideb do %>
  <li class="nav-header">Upcoming</li>
  <table class="table table-striped table-condensed">
    <tbody>
      <% @upcoming_tasks.last(5).sort {|a,b| a.task_start <=> b.task_start}.each_with_index do |task| %>
        <tr>
          <td><%= link_to task.name, task_path(task) %></td>
          <td><%= distance_of_time_in_words_to_now(task.task_start.to_datetime) + " from now"if task.task_start %></td>
          <td>
            <%= link_to 'complete', { id: task.id, action: "set_complete" }, class: "btn btn-mini", :method => :post %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <li class="nav-header">Recently Complete</li>
  <table class="table table-striped table-condensed">
    <tbody>
      <% @completed_tasks.last(5).sort {|a,b| b.completed_at <=> a.completed_at}.each_with_index do |task| %>
        <tr>
          <td><%= link_to task.name, task_path(task) %></td>
          <td><%= time_ago_in_words(task.completed_at) + " ago" %></td>
          <td>
            <%= link_to 'Uncomplete', { id: task.id, action: "set_uncomplete" }, :class => 'btn btn-mini', :method => :post %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end%>
